.aspnet
.azds/
.azure/
.bash_history
.cache/
.config/dlv
.config/htop/htoprc
.config/pulse/
.docker/
.dotnet/
.kube/
.local/
.microsoft/
.mono/
.nuget/
.ssh
.sudo_as_admin_successful
.templateengine/
.viminfo
.vsdbg
.vscode-server/
.wget-hsts
code/
lib/azds-cli/
go/

*.swp
