.aspnet
.azure/
.bash_history
.cache/
.config/htop/htoprc
.dotnet/
.local/
.microsoft/
.mono/
.nuget/
.ssh
.sudo_as_admin_successful
.templateengine/
.viminfo
.vsdbg
.vscode-server/
.wget-hsts
code/
go/

*.swp
