[user]
	name = Kevin Pilch
	email = me@pilchie.com
[alias]
	st = status
	lol = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[core]
	editor = vim
[push]
	default = simple
